{% extends "tenants/base.html" %}
{% load static i18n %}
{% block title %}{% trans "Tenant List" %}{% endblock title %}
{% block extracss %}{% endblock extracss %}

{% block content %}

{% csrf_token %}
<h1 class="h3 mb-2 text-gray-800">{% trans "List Tenants" %}</h1>
<p><small class="muted-text">
        {% trans "MO is referred to Mobile Originated, a SMS-MO is an SMS sent from mobile"%}</small></p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4>
            <button class="btn btn-success btn-sm float-right" id="add_new_obj">
                <i class="fas fa-plus"></i> {% trans "Add New" %}</button>
            <a href="{% url 'home' %}" class="btn btn-primary btn-sm float-right mr-2"><i class="fas fa-home"></i>
                {% trans "Home" %}</a>
        </h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-sm" id="sortable-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "id" %}</th>
                        <th>{% trans "name" %}</th>
                        <th>{% trans "jasmin_host" %}</th>
                        <th>{% trans "jasmin_port" %}</th>
                        <th>{% trans "domain_name" %}</th>
                        <th class="text-center">{% trans "Option" %}</th>

                    </tr>
                </thead>
                <tbody id="collectionlist"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="collection_modal" tabindex="-1" role="dialog" aria-labelledby="collection_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="add_modal_form" style="display:none" action="{% url 'manage_tenants' %}" method="post"
                class="space-y-4">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="collection_modalLabel">
                        {% trans "Add New Tenant" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <!-- Your form fields here -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </div>
                <input type="hidden" name="s" value="add">
            </form>
            <form id="edit_modal_form" style="display:none" action="{% url 'manage_tenants' %}" method="post"
                class="space-y-4">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="collection_modalLabel">{% trans "Add New Tenant" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <!-- Your form fields here -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <input type="hidden" name="s" value="edit">
                <input type="hidden" name="id" value="">
            </form>
        </div>
    </div>
</div>

{% block extrajs %}
<script src="{% static 'web/main.js' %}"></script>
{% endblock extrajs %}

{% endblock %}